@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --tw-scrollbar-thumb: #a0aec0;
}

body {
  overflow: hidden;
}

body * {
  font-family: 'Inter', sans-serif;
}

.scrollbar-rounded {
  scrollbar-width: thin;
  scrollbar-color: var(--tw-scrollbar-thumb) transparent;
}

.scrollbar-rounded::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-rounded::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-rounded::-webkit-scrollbar-thumb {
  background-color: var(--tw-scrollbar-thumb);
  border-radius: 1rem;
  border: 3px solid transparent;
}

.creditCard.backIsVisible {
  transform: rotateY(-180deg);
}

.button {
  margin: 5px;
  border: none;
  color: #3498db;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.image-product {
  max-height: 300px;
}

.first-letter:capitalize::first-letter {
  text-transform: uppercase;
}
